<html lang="en-uk">
{% extends "base.html" %}
<!-- Javascript imports, this page will be extended later on but I need some bootstrap functionality for update functionality -->

{% block content %}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
  <!-- Bulma Version 0.9.0-->
  <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
  <link href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css" rel="stylesheet">
</head>


  
<body>
  <div class="container">
        <div class="hero-body box box-shadow is-bold" style="background-color: #b857fd; height: 20pt;">
          <div>
            <a>
              <img src="https://img.icons8.com/external-prettycons-solid-prettycons/150/000000/external-pc-tower-devices-prettycons-solid-prettycons.png" style="height: 40pt;"/>
            </a>
          </div>
          <div class="container">
              <p style="font-size: 30pt; color: white;">
                Desktops
              </p>
          </div>
          <div>
            <a>
              <img src="https://img.icons8.com/external-prettycons-solid-prettycons/150/000000/external-pc-tower-devices-prettycons-solid-prettycons.png" style="height: 40pt;"/>
            </a>
          </div>
        </div>
        <table class="is-fullwidth is-bordered">
          <td style="padding-right: 30pt; width: 11.5%;">
            <input class="input is-primary" id="myInput" type="text" placeholder="Search Here" onkeyup="tableSearch()">
          </td>
          <form action="/desktops" method="POST">
            <td>
              <label class="checkbox">
                <disabled>
              </label> 
            </td>
            <td  style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="Name" name="Name">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="Manufacturer" name="Manufacturer">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="Model" name="Model">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="CPU" name="CPU">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="RAM" name="RAM">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="Storage" name="Storage">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="OS" name="Operating_System">
            </td>
            <td style="padding-right: 5pt;">
              <input class="input is-info is-narrow" type="text" placeholder="Mac:Address" name="Mac_address">
            </td>
            <td style="padding-right: 5pt;">
              <div class="control">
                <div class="select">
                  <select  name="Location">
                    <option>OSS Office</option>
                    <option>SAT Office</option>
                    <option>OSS Cage</option>
                    <option>On Person</option>
                  </select>
                </div>
              </div>
            </td>
            <td style="padding-right: 30pt;">
              <button class="button is-info is-rounded">Submit</button>
            </td>
          </form>
          <td class="has-text-centered is-narrow">
            <button class="button is-success is-narrow" onclick="tableExport()">Export CSV</button>
          </td>
        </table>
      <br>
          
        
      <table class="table is-bordered is-hoverable"
          id="table"
          data-pagination="true"
          data-id-field="id"
          data-page-list="[1, 5, 10, 100, all]">
          <thead>
            <tr>
            </tr>
            <tr>
              <th data-sortable="true">Name</th>
              <th data-sortable="true">Manufacturer</th>
              <th data-sortable="true">Model</th>
              <th data-sortable="true">CPU</th>
              <th data-sortable="true">RAM</th>
              <th data-sortable="true">Storage</th>
              <th data-sortable="true">Operating System</th>
              <th>Mac:Address</th>
              <th  data-sortable="true" style="text-align: center;">Location</th>
              <th style="text-align: center;">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for da in desktop %}
              <tr>
                <td>{{ da.name }}</td>
                <td>{{ da.manufactor }}</td>
                <td>{{ da.model }}</td>
                <td>{{ da.cpu }}</td>
                <td>{{ da.ram }}</td>
                <td>{{ da.storage }}</td>
                <td>{{ da.operating_system }}</td>
                <td>{{ da.mac_address }}</td>
                <td>{{ da.location }}</td>
                <td style="text-align: center;">
                  <a href="update_desktop/{{ da.id }}">
                    <img src="https://img.icons8.com/sf-ultralight-filled/30/12B886/visible.png"/>
                  </a>
                  <a href="delete_desktop/{{ da.id }}">
                    <img src="https://img.icons8.com/color/32/000000/delete-forever.png"/>
                  </a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
      </table>
      
      <script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
      <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
      <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>
      <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/extensions/export/bootstrap-table-export.min.js"></script>
  </div>
</body>
</div>
</html>
    

        <script>    
          $(function() {
            $('#table').bootstrapTable()
          })
          var $table = $('#table')
          
          function initTable() {
            $table.bootstrapTable('destroy').bootstrapTable({
              height: 500,
              locale: $('#locale').val(),
              columns: [
                [{
                  
                  colspan: 10,
                  align: 'center'
                }]
              ]
            })
          }
          $(function() {
            initTable()
          
            $('#locale').change(initTable)
          })
          function tableExport() {
            return $('#table').tableExport({type:'csv'});
          }
          function tableSearch() {
          var input, filter, found, table, tr, td, i, j;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("table");
          tr = table.getElementsByTagName("tr");
          for (i = 2; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) {
                  if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                  }
              }
              if (found) {
                  tr[i].style.display = "";
                  found = false;
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
        </script>
{% endblock %}