{% extends "base.html" %}

{% block content %}

<img src="https://i.postimg.cc/150WsVHm/Capture.png" alt="OCSIMS" width="300" height="300">
<br>
</br>
<h1 class="title"  style="color:black;">

 Ocado Client Services <a href="dashboard" style="color: #b857fd;">Inventory Management System</a> 
</h1>
<br>
<h2 class="subtitle"  style="color: black;">
  This application is primarily for the use of OSS/TSS teams to keep track of site-specific inventory such as loan and non loan laptops, office desktops, mobile phones, tablets, SICK scanners, cables etc... The application is very scalable & it is hosted on the Google Cloud Platform where each CFC runs off its own instance & database. 
  <br>
  <br>
  Please be patient with the app, the are some features that do not work and some that are simply just bugged. Base functionality is there & if you would like to see anyting added or for suggestions please contact: Emiljano Kurbiba OSS Member @ CFC 7 Bicester.
  <br>
  <br>
  Authorization & authentication is required for the use of this application.
</h2>


{% endblock %}
