<!DOCTYPE html>
<html style="font-family: sans-serif;">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OCSIMS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>

<body>
    <section class="hero is-white is-fullwidth is-fullheight">

        <div class="hero-head">
            <nav class="navbar">
                <a class="navbar-item" href="https://support.oca.do">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/6/6e/Ocado_Group_Logo.svg" alt="OCSIMS" width="112" height="28">
                </a>
                    <div id="navbarMenuHeroA" class="navbar-menu">

                        <div class="navbar-end">
                            {% if current_user.is_authenticated %}

                            <form action="/location" method="POST">
                                <div class="navbar-item"  style="color: #9a41da;">
                                   <div class="select is-default is-rounded">
                                       <select   style="color: #9a41da;" name="site_select" id="site_select">
                                         <option value="" disabled selected >Select Site</option>
                                         <option value="www.google.com">Hatfield</option>
                                         <option value="">Dordon</option>
                                         <option value="">Andover</option>
                                         <option value="">Erith</option>
                                         <option value="">Purfleet</option>
                                         <option value="">Avonmouth</option>
                                         <option value="">Bicester</option>
                                       </select>
                                   </div>
                               </div>   
                               </form> 
                               
                               <script type="text/javascript">
                                    var urlMenu = document.getElementsByName('site_select');
                                    urlMenu.onchange = function() {
                                        var userOption = this.options[this.selectedIndex];
                                        if (userOption.value != "nothing") {
                                            window.open(userOption.value, "Site Page", "");
                                        }
                                    }
                               </script>

                            {% endif %}
                            <a href="{{ url_for('main.index') }}" class="navbar-item" style="color: #9a41da;">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('main.dashboard') }}" class="navbar-item" style="color: #9a41da;">
                                Dashboard
                            </a>
                            {% endif %}
                            {% if not current_user.is_authenticated %}
                            <a href="{{ url_for('auth.login') }}" class="navbar-item" style="color: #9a41da;">
                                Login
                            </a>
                            <!--Another link can be added here for signup-->
                            {% endif %}
                            {% if current_user.is_authenticated %}
                               <a href="{{ url_for('auth.logout') }}" class="navbar-item" style="color: #9a41da">
                                Logout
                                </a>
                            {% endif %}
                        </div>
                    </div>
            </nav>
        </div>

        <div class="hero-body" style="font-family: sans-serif;">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>