{% extends "base.html" %}

{% block content %}
<div class="columns">
  
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, 
          initial-scale=1, shrink-to-fit=no">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity=
  "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    
      <link rel="stylesheet" href=
  "https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity=
  "sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
           crossorigin="anonymous">
  </head>
    
  <body>
      <div class="container">
        <br>
        <td>
        <div class="control"></div>
        </td>
        <h3>Hi {{current_user.name}}! Welcome to the IMS Dashboard.</h3>
        <h4>click any of the cards to redirect to table pages :)</h4>
        <br>
        <div class="row">
            <a href="laptops" style="text-decoration: none">
                <div class="col-lg-3 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ laptop_count }}
                            </h1>
                            <h5 class="card-text">
                                Laptops
                            </h5>
                            <h6>
                             {{laptop_assigned}} Assigned
                            </h6>
                            <h6>
                            {{laptop_unassigned}} Unssigned
                            </h6>
                        
            </a>
        </div>

        </div>
        </div>
            <a href="desktops" style="text-decoration: none">
                <div class="col-lg-3 mb-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ desktop_count }}
                            </h1>
                            <h5 class="card-text">
                                Desktops
                            </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="mobile_phones" style="text-decoration: none">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ mobile_phone_count }}
                            </h1>
                            <h5 class="card-text">
                                Mobile Phones
                            </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h1 class="card-text">
                      2
                    </h1>
                    <h5 class="card-text">
                        Sim-Cards
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
          <div class="row">
            <a href="laptops" style="text-decoration: none">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ laptop_count }}
                            </h1>
                            <h5 class="card-text">
                                Monitors
                            </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="desktops" style="text-decoration: none">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ desktop_count }}
                            </h1>
                            <h5 class="card-text">
                                Printers
                            </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
            <a href="mobile_phones" style="text-decoration: none">
                <div class="col-lg-3">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="card-text">
                            {{ mobile_phone_count }}
                            </h1>
                            <h5 class="card-text">
                                Tools
                            </h5>
                            </a>
                        </div>
                    </div>
                </div>
            </a>
          <div class="col-lg-3">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h1 class="card-text">
                      2
                    </h1>
                    <h5 class="card-text">
                        Accessories
                    </h5>
                </div>
            </div>
        <br>
        <br>
        </div>
        
        <a class="col-lg-3" href="https://auth.datto.com/login">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/14/Datto_logo.svg/1920px-Datto_logo.svg.png" alt="Datto" width="170" height="400">
        </a>
        <a class="col-lg-3" href="https://endpoint.microsoft.com/#home">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Microsoft_Azure.svg/1024px-Microsoft_Azure.svg.png" alt="Endpoint" width="80" height="80">
        </a>
        <a class="col-lg-3" href="https://ocadosupport.atlassian.net/jira">
            <img src="https://aptgadget.com/wp-content/uploads/2018/10/jira-alternatives-765x374.png" alt="Jira" width="170" height="100">
        </a>
        <a class="col-lg-3" href="">
            <img src="https://brewsteracademyblogs.files.wordpress.com/2018/01/googledrivefilestream.png" alt="GDRIVE" width="70" height="70">
        </a>
        </div>
        <br>
        <h6>Quick Links</h6>
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity=
  "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous">
      </script>
    
      <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity=
  "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous">
      </script>
    
      <script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
              integrity=
  "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous">
      </script>
  </body>
{% endblock %}