{% extends "base.html" %}

{% block content %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/admin.css">
</head>

<body>
    <div class="container" >
        <div class="columns is-centered">
            <div class="column is-9">
                <section class="hero welcome is-small">
                    <div class="hero-body box box-shadow is-bold" style="background-color: #b857fd;">
                        <div class="container">
                            <p style="font-size: 30pt; color: white;">
                            Hello, {{current_user.name}}
                            </p>
                            <h1 class="subtitle" style="color: white;">
                                Welcome to the site dashboard.
                            </h1>
                        </div>
                    </div>
                </section>
                <section class="info-tiles">
                    <br>
                    <div class="tile is-ancestor has-text-centered">
                        <a href="laptops" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">{{laptop_count}}</p>
                                <p class="subtitle">Laptops</p>
                                {{laptop_assigned}} Assigned
                                {{laptop_unassigned}} Unassigned
                            </article>
                        </a>
                        <a href="desktops" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Desktops</p>
                            </article>
                        </a>
                        <a href="tablets" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Tablets</p>
                            </article>
                        </a>
                        <a href="mobile_phones" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Mobile Phones</p>
                            </article>
                        </a>
                    </div>
                    <div class="tile is-ancestor has-text-centered">
                        <a href="peripherals" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Peripherals</p>
                            </article>
                        </a>
                        <a href="tools" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Tools</p>
                            </article>
                        </a>
                        <a href="accessories" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Accessories</p>
                            </article>
                        </a>
                        <a href="sim_cards" class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">0</p>
                                <p class="subtitle">Sim Cards</p>
                            </article>
                        </a>
                    </div>
                </section>
                <div class="columns">
                    <div class="column is-6">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    To-do list
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-hoverable is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-flag-o"></i></td>
                                                <td>Simple task to acomplish</td>
                                                <td class="level-right"><a class="button is-small is-danger" href="#">Delete</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <td class="field">
                                        <input class="input is-info is-small" type="text" placeholder="" name="" style="width: 82%; ">
                                    </td>
                                    <td class="has-text-centered is-narrow">
                                        <button class="button is-narrow is-small" style="background-color: #9a41da; color: white;">Submit</button>
                                    </td>
                                </div>
                                
                            </div>
                            <br>
                        </div>
                    </div>
                    <div class="column is-6">
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    Inventory Search
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input is-large" type="text" placeholder="">
                                        <span class="icon is-medium is-left">
                      <i class="fa fa-search" style="color: #b857fd;"></i>
                    </span>
                                        <span class="icon is-medium is-right">
                      <i class="fa fa-check" style="color: #b857fd;"></i>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="card">
                            <header class="card-header">
                                <p class="card-header-title">
                                    User Search
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                </a>
                            </header>
                            <div class="card-content">
                                <div class="content">
                                    <div class="control has-icons-left has-icons-right">
                                        <input class="input is-large" type="text" placeholder="">
                                        <span class="icon is-medium is-left">
                      <i class="fa fa-search" style="color: #b857fd;"></i>
                    </span>
                                        <span class="icon is-medium is-right">
                      <i class="fa fa-check" style="color: #b857fd;"></i>
                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async type="text/javascript" src="../js/bulma.js"></script>
</body>

</html>
{% endblock %}