{% extends "dashboard.html" %}
<!-- Javascript imports, this page will be extended later on but I need some bootstrap functionality for update functionality -->

{% block content %}
<div style="position: center;">
  <a>
    <img src="https://img.icons8.com/external-prettycons-solid-prettycons/150/000000/external-pc-tower-devices-prettycons-solid-prettycons.png"/>
  </a>
</div>

  <div class="column is-narrow">
    <div class="column is-full">
      <aside class="menu">
        <p class="menu-label">
          Quick Links
        </p>
        <ul class="menu-list">
          <li><a>Laptops</a></li>
          <li><a>Desktops</a></li>
          <li><a>Mobile Phones</a></li>
          <li><a>Sim Cards</a></li>
          <li><a>Monitors</a></li>
          <li><a>Printers</a></li>
          <li><a>Accessories</a></li>
        </ul>
      </aside>
    </div>
  </div>

    
        </div class="table-container">
          <table class="table is-bordered is-hoverable is-fullwidth" id="laptopTable" style="margin-bottom:20px; margin-right: 10%; color:rgb(105, 105, 105);">
            <thead>
              <tr>
                <td colspan="7">
                  <input class="input is-primary" id="myInput" type="text" placeholder="Search Here" onkeyup="tableSearch()">
                </td>
                <td colspan="4" style="text-align: center; font-size: 120%;">
                  This is the desktops table, simply fill in the fields and click submit.
                </td>
              </tr>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Model</th>
                <th>CPU</th>
                <th>RAM</th>
                <th>Storage</th>
                <th>Operating System</th>
                <th>Mac:Address</th>
                <th style="text-align: center;">Location</th>
                <th style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for da in desktop %}
                <tr>
                  <td>{{ da.id }}</td>
                  <td>{{ da.name }}</td>
                  <td>{{ da.manufactor }}</td>
                  <td>{{ da.model }}</td>
                  <td>{{ da.cpu }}</td>
                  <td>{{ da.ram }}</td>
                  <td>{{ da.storage }}</td>
                  <td>{{ da.operating_system }}</td>
                  <td>{{ da.mac_address }}</td>
                  <td>{{ da.location }}</td>
                  <td style="text-align: center;">
                    <a href="update_desktop/{{ da.id }}">
                      <img src="https://img.icons8.com/color-glass/30/000000/edit--v1.png"/>
                    </a>
                    <a href="delete_desktop/{{ da.id }}">
                      <img src="https://img.icons8.com/color/32/000000/delete-forever.png"/>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <form action="/desktops" method="POST">
              <td>
                <label class="checkbox">
                  <disabled>
                </label> 
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Name" name="Name">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Manufacturer" name="Manufacturer">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Model" name="Model">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="CPU" name="CPU">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="RAM" name="RAM">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Storage" name="Storage">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="OS" name="Operating_System">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Mac:Address" name="Mac_address">
              </td>
              <td>
                <div class="control">
                  <div class="select">
                    <select  name="Location">
                      <option>OSS Office</option>
                      <option>SAT Office</option>
                      <option>OSS Cage</option>
                      <option>On Person</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <button class="button is-info is-rounded">Submit</button>
              </td>
            </form>
          </table>
        </div>
      </div>
    </div>

    <script type="application/javascript">
      function tableSearch() {
          var input, filter, found, table, tr, td, i, j;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("laptopTable");
          tr = table.getElementsByTagName("tr");
          for (i = 2; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) {
                  if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                  }
              }
              if (found) {
                  tr[i].style.display = "";
                  found = false;
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
    </script>

{% endblock %}