{% extends "base.html" %}

{% block content %}

<img src="https://i.postimg.cc/150WsVHm/Capture.png" alt="OCSIMS" width="300" height="300">
<br>
</br>
<h1 class="title">

  Ocado Client Services Inventory Management System
</h1>
<br>
<h2 class="subtitle">
  This software is primarily for OSS/TSS teams to keep track of site-specific inventory. The application is very scalable, it is hosted on the Google Cloud Platform. Each site has its own instance & database. 
  Authorization & authentication is required for the use of this software.
</h2>
<br>
<address>
  For suggestions: <a href="mailto:emiljano.kurbiba@ocado.com">Emiljano Kurbiba</a>.<br>
  OSS MEMBER CFC7<br>
</address>

{% endblock %}
