{% extends "base.html" %}

{% block content %}

<img src="https://i.postimg.cc/150WsVHm/Capture.png" alt="OCSIMS" width="300" height="300">
<br>
</br>
<h1 class="title"  style="color:black;">

 Ocado Client Services <a href="dashboard" style="color: #b857fd;">Inventory Management System</a> 
</h1>
<br>
<h2 class="subtitle"  style="color: black;">
  This application is primarily for the use of OSS/TSS teams to keep track of site-specific inventory such as loan and non loan laptops, office desktops, mobile phones, tablets etc... The application is very scalable, it is hosted on the Google Cloud Platform. Each CFC has its own instance & database. 
  Authorization & authentication is required for the use of this application.
</h2>
<br>
<address  style="color:black;">
  For suggestions: <a href="mailto:emiljano.kurbiba@ocado.com"  style="color:#b857fd;">Emiljano Kurbiba</a>.<br>
  OSS MEMBER CFC7<br>
</address>

{% endblock %}
