</div class="section">
<table class="table is-fullwidth" style="margin-bottom:20px; margin-right: 20%;">

  <thead>

    <tr>
      <th><abbr title="ID">#</abbr></t h>
      <th>Manufacturer</th>
      <th><abbr title="Model">Model</abbr></th>
      <th><abbr title="CPU">CPU</abbr></th>
      <th><abbr title="RAM">RAM</abbr></th>
      <th><abbr title="Storage">Storage</abbr></th>
      <th><abbr title="Operating_System">Operating System</abbr></th>
      <th><abbr title="Assigned">Assigned</abbr></th>
      <th><abbr title="Action">Action</abbr></th>
    </tr>
  </thead>
  <tbody>
    {% for la in laptop %}
      <tr>
        <td>{{ la.id }}</td>
        <td>{{ la.manufactor }}</td>
        <td>{{ la.model }}</td>
        <td>{{ la.cpu }}</td>
        <td>{{ la.ram }}</td>
        <td>{{ la.storage }}</td>
        <td>{{ la.operating_system }}</td>
        <td>{{ la.assigned }}</td>
        <td>
          <a href="update/{{ la.id }}">
            <button class="button is-success is-rounded">Update</button>
          </a>
          <a href="delete/{{ la.id }}">
            <button class="button is-danger is-rounded">Delete</button>
          </a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
  <form action="/laptops" method="POST">
    <td>
      <label class="checkbox">
        <disabled>
      </label> 
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="Manufacturer" name="Manufacturer">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="Model" name="Model">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="CPU" name="CPU">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="RAM" name="RAM">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="Storage" name="Storage">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="OS" name="Operating_System">
    </td>
    <td>
      <input class="input is-info is-narrow" type="text" placeholder="Assigned?" name="Assigned">
    </td>
    <td>
      <button class="button is-info is-rounded">Submit</button>
    </td>
  </form>
</table>
</div>