{% extends "base.html" %}

{% block content %}
<div class="columns">
    <aside class="menu">
      <p class="menu-label">
        General
      </p>
      <ul class="menu-list">
        <li><a href="laptops">Laptops</a></li>
        <li><a>Desktops</a></li>
        <li><a>Mobile Phones</a></li>
        <li><a>Sim Cards</a></li>
        <li><a>Accessories</a></li>
      </ul>
    </aside>
  
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, 
          initial-scale=1, shrink-to-fit=no">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity=
  "sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    
      <link rel="stylesheet" href=
  "https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity=
  "sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
           crossorigin="anonymous">
  </head>
    
  <body>
      <div class="container">
        <h1>Quick Overview</h1>
          <div class="row">
              <div class="col-lg-3 mb-4">
                  <div class="card">
                      <img class="card-img-top" src="" alt="">
    
                      <div class="card-body">
                          <h5 class="card-title">We have</h5>
                          <h1 class="card-text">
                            6
                          </h1>
                          <h5 class="card-text">
                              Laptops
                          </h5>
    
                          <a href="#" class="btn btn-outline-primary btn-sm">
                              Quick Link
                          </a>
                      </div>
                  </div>
              </div>
              <div class="col-lg-3 mb-4">
                <div class="card">
                    <img class="card-img-top" src="" alt="">
  
                    <div class="card-body">
                        <h5 class="card-title">We have</h5>
                        <h1 class="card-text">
                          3
                        </h1>
                        <h5 class="card-text">
                            Desktops
                        </h5>
  
                        <a href="#" class="btn btn-outline-primary btn-sm">
                            Quick Link
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-4">
              <div class="card">
                  <img class="card-img-top" src="" alt="">

                  <div class="card-body">
                      <h5 class="card-title">We have</h5>
                      <h1 class="card-text">
                        4
                      </h1>
                      <h5 class="card-text">
                          Mobile Phones
                      </h5>

                      <a href="#" class="btn btn-outline-primary btn-sm">
                          Quick Link
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 mb-4">
            <div class="card">
                <img class="card-img-top" src="" alt="">

                <div class="card-body">
                    <h5 class="card-title">We have</h5>
                    <h1 class="card-text">
                      2
                    </h1>
                    <h5 class="card-text">
                        Sim-Cards
                    </h5>

                    <a href="#" class="btn btn-outline-primary btn-sm">
                        Quick Link
                    </a>
                </div>
            </div>
        </div>
          </div>
      </div>
    
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
              integrity=
  "sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
              crossorigin="anonymous">
      </script>
    
      <script src=
  "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
              integrity=
  "sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
              crossorigin="anonymous">
      </script>
    
      <script src=
  "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
              integrity=
  "sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
              crossorigin="anonymous">
      </script>
  </body>
{% endblock %}