{% extends "base.html" %}
<!-- Javascript imports, this page will be extended later on but I need some bootstrap functionality for update functionality -->

{% block content %}
<div class="column is-half">
  <a>
    <img src="https://img.icons8.com/ios-filled/200/000000/sim-card--v2.png"/>
  </a>
</div>

  <div class="column is-narrow">
    <div class="column is-half">
      <aside class="menu">
        <p class="menu-label">
          Quick Links
        </p>
        <ul class="menu-list">
          <li><a>Laptops</a></li>
          <li><a>Desktops</a></li>
          <li><a>Mobile Phones</a></li>
          <li><a>Sim Cards</a></li>
          <li><a>Monitors</a></li>
          <li><a>Printers</a></li>
          <li><a>Accessories</a></li>
        </ul>
      </aside>
    </div>
  </div>

    
        </div class="table-container">
          <table class="table mx-auto is-bordered is-hoverable" id="laptopTable" style="margin-bottom:10px; margin-right: 25%; color:rgb(105, 105, 105);">
            <thead>
              <tr>
                <td colspan="2">
                  <input class="input is-primary" id="myInput" type="text" placeholder="Search Here" onkeyup="tableSearch()">
                </td>
                <td colspan="3" style="text-align: center; font-size: 120%;">
                  This is the Sim Cards table, simply fill in the fields and click submit.
                </td>
              </tr>
              <tr>
                <th class="is-narrow" style="text-align: center;">Provider</th>
                <th class="is-narrow" style="text-align: center;">Amount</th>
                <th class="is-narrow" style="text-align: center;">Location</th>
                <th class="is-narrow" style="text-align: center;">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for sc in sim_cards %}
                <tr>
                  <td class="is-narrow" style="text-align: center;">{{ sc.provider }}</td>
                  <td class="is-narrow" style="text-align: center;">{{ sc.amount }}</td>
                  <td class="is-narrow" style="text-align: center;">{{ sc.location }}</td>
                  <td class="is-narrow" style="text-align: center;">
                    <a class="is-narrow" href="update_sim_cards/{{ sc.id }}">
                      <img src="https://img.icons8.com/color-glass/30/000000/edit--v1.png"/>
                    </a>
                    <a class="is-narrow" href="delete_sim_card/{{ sc.id }}">
                      <img src="https://img.icons8.com/color/32/000000/delete-forever.png"/>
                    </a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <form action="/sim_cards" method="POST">
              <td class="is-narrow">
                <input class="input is-info" type="text" placeholder="Provider" name="Provider">
              </td>
              <td class="is-narrow">
                <input class="input is-info" type="text" placeholder="Amount" name="Amount">
              </td>
              </td>
              <td class="is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select  name="Location">
                      <option>OSS Office</option>
                      <option>SAT Office</option>
                      <option>OSS Cage</option>
                      <option>On Person</option>
                    </select>
                  </div>
                </div>
              </td>
              <td class="has-text-centered is-narrow">
                <button class="button is-info is-rounded is-narrow">Submit</button>
              </td>
            </form>
          </table>
        </div>
      </div>
    </div>

    <script type="application/javascript">
      function tableSearch() {
          var input, filter, found, table, tr, td, i, j;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("laptopTable");
          tr = table.getElementsByTagName("tr");
          for (i = 2; i < tr.length; i++) {
              td = tr[i].getElementsByTagName("td");
              for (j = 0; j < td.length; j++) {
                  if (td[j].innerHTML.toUpperCase().indexOf(filter) > -1) {
                      found = true;
                  }
              }
              if (found) {
                  tr[i].style.display = "";
                  found = false;
              } else {
                  tr[i].style.display = "none";
              }
          }
      }
    </script>

{% endblock %}