{% extends "profile.html" %}
<!-- Javascript imports, this page will be extended later on but I need some bootstrap functionality for update functionality -->

{% block content %}

  <div class="column is-narrow">
    <div class="column is-half">
      <aside class="menu">
        <p class="menu-label">
          General
        </p>
        <ul class="menu-list">
          <li><a>Laptops</a></li>
          <li><a>Desktops</a></li>
          <li><a>Mobile Phones</a></li>
          <li><a>Sim Cards</a></li>
          <li><a>Accessories</a></li>
        </ul>
      </aside>
    </div>
  </div>

    
      </div class="section">
          <table class="table is-hoverable is-bordered is-fullwidth" style="margin-bottom:20px; margin-right: 20%;" contenteditable="true">
            <thead>
              <tr>
                <th><abbr title="ID">#</abbr></t h>
                <th>Manufacturer</th>
                <th><abbr title="Model">Model</abbr></th>
                <th><abbr title="CPU">CPU</abbr></th>
                <th><abbr title="RAM">RAM</abbr></th>
                <th><abbr title="Storage">Storage</abbr></th>
                <th><abbr title="Operating_System">Operating System</abbr></th>
                <th><abbr title="mac_address">Mac Address</abbr></th>
                <th><abbr title="Assigned">Assigned?</abbr></th>
                <th><abbr title="Assigned_to">Assigned to</abbr></th>
                <th><abbr title="Action">Action</abbr></th>
              </tr>
            </thead>
            <tbody>
              {% for la in laptop %}
                <tr>
                  <td>
                    <button class="button is-success is-rounded" href="/update{{la.id}}">Save</button>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
            <form action="/update/{{laptop_update.id}}" method="POST">
              <td>
                <label class="checkbox">
                  <disabled>
                </label> 
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Manufacturer" name="Manufacturer" value="{{laptop_update.manufactor}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Model" name="Model" value="{{laptop_update.model}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="CPU" name="CPU" value="{{laptop_update.cpu}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="RAM" name="RAM" value="{{laptop_update.ram}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Storage" name="Storage" value="{{laptop_update.storage}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="OS" name="Operating_System" value="{{laptop_update.operating_system}}">
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Mac:Address" name="Mac_address" value="{{laptop_update.mac_address}}">
              </td>
              <td>
                <div class="control">
                  <div class="select">
                    <select name="assigned">
                      <option></option>
                      <option>Yes</option>
                      <option>No</option>
                    </select>
                  </div>
                </div>
              </td>
              <td>
                <input class="input is-info is-narrow" type="text" placeholder="Assigned to?" name="Assigned_to" value="{{laptop_update.assigned_to}}">
              </td>
              <td>
                <button class="button is-info is-rounded">Save</button>
              </td>
            </form>
          </table>
      </div>


{% endblock %}